// custom

.content {
  width:70%;
  float:left;
  border-right:5px solid $pink-color;
  padding:20px 20px 0px 0px;
}

.sidebar {
  width:25%;
  height:500px;
  float:left;
  background-color:#f7f6f8;
  padding:20px 0px 0px 20px;
}
